<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <title></title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

      <script type="text/javascript">

          var map = null;


         function GetMap()
         {
            // Initialize the map
            map = new Microsoft.Maps.Map(document.getElementById("mapDiv"),{credentials:"{{ key }}"}); 

            // Create the locations
            var location1 = new Microsoft.Maps.Location(37.767695,-122.445832);
            var location2 = new Microsoft.Maps.Location(37.775454,-122.443952);
            var location3 = new Microsoft.Maps.Location(37.784558,-122.398564);
            var location4 = new Microsoft.Maps.Location(37.792062, -122.403697);
            var location5 = new Microsoft.Maps.Location(37.792897, -122.416619);


            // Create a polyline
            var lineVertices = new Array(location1, location2, location3, location4, location5);
            var line = new Microsoft.Maps.Polyline(lineVertices);

            // Add the polyline to the map
            map.entities.push(line);

         }


      </script>
   </head>
   <body onload="GetMap();">
      <div id='mapDiv' style="position:relative; width:700px; height:700px;"></div>
   </body>
</html>

