<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <title></title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

      <script type="text/javascript">

          var map = null;


         function GetMap()
         {
            // Initialize the map
            map = new Microsoft.Maps.Map(document.getElementById("mapDiv"),{
                credentials:"{{ key }}",
                center: new Microsoft.Maps.Location(37.767695,-122.445832), 
                zoom: 13
                }); 
            
           console.log('{{ data|tojson|safe }}');
           var x = JSON.parse('{{ data|tojson|safe }}');
           console.log(x);
           console.log(x['list_a'][0]);
            
            var bluedota = new Microsoft.Maps.Location(x['list_a'][0], x['list_a'][1]);
            var bluedotb = new Microsoft.Maps.Location(x['list_b'][0], x['list_b'][1]);
            var bluedotc = new Microsoft.Maps.Location(37.775111,-122.443911);
            
            var lineVert = new Array(bluedota, bluedotc, bluedotb);
            
            
            var linetwo = new Microsoft.Maps.Polyline(lineVert,{
                strokeColor:new Microsoft.Maps.Color(200, 200, 0, 100),
                strokeThickness:5
            });
            
            

            // Create the locations
            
            
            var location1 = new Microsoft.Maps.Location(37.767111,-122.445811);
            var location2 = new Microsoft.Maps.Location(37.775111,-122.443911);
            var location3 = new Microsoft.Maps.Location(37.784111,-122.398511);
            var location4 = new Microsoft.Maps.Location(37.792111, -122.403611);
            var location5 = new Microsoft.Maps.Location(37.792111, -122.416611);


            // Create a polyline
            var lineVertices = new Array(location1, location2, location3, location4, location5);
            var line = new Microsoft.Maps.Polyline(lineVertices,{
                strokeColor:new Microsoft.Maps.Color(200, 100, 0, 100), 
                strokeThickness:2
                });

            // Add the polyline to the map
            map.entities.push(line);
            
            map.entities.push(linetwo);

         }


      </script>
   </head>
   <body onload="GetMap();">
      <div id='mapDiv' style="position:relative; width:700px; height:700px;"></div>
   </body>
</html>

